.navbar{
    display: flex;
    background-color: #212121 ;
    margin: auto;
    height: 35px;
    justify-content: space-between;
}
.navfirstdiv{
    display: flex;
    gap: 30px;
    margin-left: 120px;
    color: #9ea297;
    font-size: 12px;
}
 .navseconddiv{
    display: flex;
    gap: 30px;
    margin-right: 200px;
    color: #9ea297;
    font-size: 12px;
 }
.navseconddiv>p:hover{
    color: white;
    cursor: pointer;
 }
 .navfirstdiv>p:hover{
    color: white;
    cursor: pointer;
 }

 .footer{
    display: flex;
    background-color: #212121;
    gap: 80px;
    margin: auto;
    margin-top: 15px;
 }
 .footer p{
    color: #acaeac;
 }
 .footer>div{
    margin-top: 50px;
    margin-bottom: 120px;
 }
 .footer>div:nth-child(1){
    margin-left: 120px;
 }