.secondNav{
    display: flex;
    gap: 200px;
    margin: auto;
}
.secondNav img{
    width:  50px;
    height: 50px;
}
.secondNav>div:nth-child(1){
    display: flex;
    gap:40px;
    margin-left: 120px;
}
.secondNav>div:nth-child(1) p{
    margin-top: 8px;
    color: aliceblue;
}

.secondNav>div:nth-child(2){
    margin-right: 80px;
}