.phonediv{
    margin-top: 100px;
    
}
.phonediv>div:nth-child(1){
    display: flex;
}

.phonediv>div:nth-child(2){
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 20px;
    background-color: #f7f7f7;
}

.phonediv>div:nth-child(3){
   margin: 30px 200px 30px 600px;
}
 .loader{
    margin-top: 300px;
    margin-bottom: 500px;
    margin-left: 45%;
 }

 .pagenotfound>img{
    width: 700px;
    height: 600px;
    margin-top: 70px;
    margin-left: 25%;
 }
 
