.secondNav{
   height: 80px;
   display: flex;
   margin: auto;
   justify-content: space-between;
   font-weight: 400;
   align-items: center;
   position: fixed;
   top: 0;
   margin-bottom: 20px;
   z-index: 99;
   background-color: #ffffff;
   width:100%;
}
.secondNav img{
   width:  50px;
   height: 45px;
   cursor: pointer;
}

.secondNav>div:nth-child(1){
   display: flex;
   gap:40px;
   margin-left: 120px;
}
.secondNav>div:nth-child(1) p{
   margin-top: 8px;
   color: black;
   cursor: pointer;
   
}
.textde{
   text-decoration-line:none;
   cursor: pointer;
   color: black;
}
.secondNav>div:nth-child(1) p:hover,.textde:hover{
   color: #ff6900 ;
   font-weight: 600;
   text-decoration-line:underline;
}
.secondNav>div:nth-child(2){
   margin-right: 80px;
   display: flex;
   gap:40px
}
.cartsinnav{
   border: none;
   background-color: white;
   color: black;
}
.cartsinnav>div{
   width: 260px;
   display: flex;
   align-items:center;
   margin-top: 5px;
   gap: 50px;
}
.cartsinnav>div img{
   width: 100px;
   height: 60px;
}
 .cartsinnav>div>div>p:nth-child(1){
   font-weight: 400px;
   font-size: 16px; 
} 
.cartsinnav>div>div>p:nth-child(2){
   color: #ff6900;
   font-size: 15px; 
} 
.spanincart{
font-size: 14px;
font-weight: 400;
margin-top: -4px;
}
.buttoncheck{
   width: 90%;
   margin: 10px;
   color: white;
   background-color: #191919;
   border-radius: 8px;
   font-size: 16px;
}
.cartempty{
   display: flex;
   background-color: #191919;
   text-align: center;
}
.cartempty>img{
   width: 60px;
   height: 40px;
   margin: 5px;
}
.cartempty p{
font-size: 14px;
font-weight: 400;
color: white;
text-align: center;
margin: 10px;
}

.userdetails{
   background-color: white;
   border: none;
   color: #191919;
}
.userdetails>div>div{
display: flex;
margin: 20px;
gap: 20px;
}

.userdetails>div>div img{
   width: 70px;
   height: 50px;
}

.userdetails>div>div p{
   font-size: 18px;
   font-weight: 300;
   color: #ff6900;
   text-align: center;
   margin-top: 15px;
}

.userdetails>div>p{
   font-size: 16px;
   margin: 10px;
}

.userspan{
font-size: 16px;
color: #ff6900;
}

.signinpart{
   width: 180px;
   background-color: white;
   color: black;
   font-size: 18px;
   text-align: center;
   font-weight: 200;
   display: flex;
   gap: 10px;
}

.signinpart img{
   width:100px;
   height: 80px;
}

.signinpart>div{
margin-top: 10px;
}
.search{
   display: flex;
    gap: 5px;
    border:1px solid black; 
}
.search>div:nth-child(2){
   width: 150px;
}
.search>div:nth-child(1){
   padding-top: 3px;
}
.searchbar{
   margin-right: 10px;
}
.searchbar input{
   padding: 5px;
   border:none;
   width:150px;
}
.searchbar>div>div{
   padding: 10px;
   margin-top:10px;
   position:absolute;
   z-index:99;
   background-color: #ffffff;
   color: black;
   overflow-x: auto;
   border: 1px solid #ff6900;
}
.searchbar>div>div>div{
   cursor: pointer;
}
.searchbar>div>div>div:hover{
   color: #ff6900;
}
 .footer{
    display: flex;
    background-color: #212121;
    gap: 80px;
    margin: auto;
    margin-top: 15px;
    font-family: "Camphor Pro VF", "Camphor Pro", sans-serif;
    line-height: 20px;
 }
 .footer p{
    color: #acaeac;
    font-family: "Camphor Pro VF" - 700;
 }
 .footer>div{
    margin-top: 50px;
    margin-bottom: 120px;
 }
 .footer>div:nth-child(1){
    margin-left: 120px;
 }